@{
    ViewData["Title"] = "Home Page";
}

<ul class="list-group">
    <li class="list-group-item"><a asp-controller="Instruments" asp-action="Create">Create Instrument</a></li>
    <li class="list-group-item"><a asp-controller="Instruments" asp-action="Index">View Instruments</a></li>
</ul>
