@model MusicLessonSch.Models.TeacherViewModel
@{
    ViewData["Title"] = "Add Teacher";
    ViewData["Action"] = "Create";
    ViewData["Button"] = "Create";
    ViewData["Header"] = "Add a teacher";
    Layout = "Teachers/_CreateEdit";
}


<label asp-for="InstrumentId"></label>
<select asp-for="InstrumentId" class="form-select">
    <option value="">Select an instrument</option>
    @foreach (var i in Model.Instruments)
    {
        <option value="@i.Id">@i.Name</option>
    }
</select>
<span asp-validation-for="InstrumentId" class="text-danger"></span>
