@model MusicLessonSch.Models.StudentViewModel;
@{
    ViewData["Title"] = "Add Student";
    ViewData["Header"] = "Add Student";
    ViewData["Button"] = "Add Student";
    ViewData["Action"] = "Create";
    Layout = "Students/_StudentCreateEdit";
}


<label asp-for="InstrumentId"></label>
<select asp-for="InstrumentId" class="form-select">
    <option value="">Select an instrument</option>
    @foreach(var item in Model.Instruments)
    {
        <option value="@item.Id">@Html.DisplayFor(modelItem => item.Name)</option>
    }
</select>
<span asp-validation-for="InstrumentId" class="text-danger"></span>
